{:paths ["resources" "src"]
 :deps {byte-streams/byte-streams {:mvn/version "0.2.5-alpha2"}
        factual/geo {:git/url "https://github.com/Factual/geo"
                     :sha "4566f37e2681113373350632087d2dbf8f145b96"}
        manifold/manifold {:mvn/version "0.1.9-alpha3"}
        org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/spec.alpha {:mvn/version "0.2.176"}
        org.clojure/test.check {:mvn/version "0.10.0"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "0.10.0"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :depstar
  {:extra-deps {seancorfield/depstar {:mvn/version "0.1.5"}}
   :main-opts ["-m" "hf.depstar.jar" "ovid.jar"]}
  :deploy
  {:extra-deps {deps-deploy {:mvn/version "0.0.9"}}
   :main-opts ["-m" "deps-deploy.deps-deploy" "deploy" "ovid.jar"]}}}
